.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  margin-bottom: 2rem;
  padding: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
}

.input-row {
  display: flex;
  gap: 1rem;
  justify-content: space-between;
  width: 100%;
}

.input-group {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 100%;
}

.input-group label {
  font-weight: bold;
}

.login-form input {
  padding: 5px 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  width: 100%;
}

.login-button {
  background-color: #6c757d;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  font-size: 16px;
  padding: 10px 20px;
  transition: background-color 0.3s;
}

.login-button:hover {
  background-color: #5a6268;
}

button {
  background-color: #5a6268;
  color: #ffffff;
  border: none;
  cursor: pointer;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #5a6268;
}

.user-info {
  display: flex;
  gap: 1rem;
  align-items: center;
  margin-bottom: 2rem;
}

.category-container {
  display: flex;
  justify-content: center;
  margin: 1rem 0;
}

.category-buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}

.category-button {
  background-color: #f28e1c;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  font-size: 16px;
  padding: 10px 20px;
  transition: background-color 0.3s;
}

.category-button.active,
.category-button:hover {
  background-color: #5a6268;
}

.item-button {
  background-color: #f0f0f0;
  border: 1px solid #ddd;
  padding: 1rem;
  border-radius: 3px;
  cursor: pointer;
  transition: background-color 0.3s;
  text-align: center;
}

.item-button:hover {
  background-color: #ddd;
}

.item-buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}

.item-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #f8f8f8;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 10px;
  padding: 10px;
  width: 200px;
  height: 300px;
  max-width: calc(50% - 20px);
}

.item-container img {
  width: 100px;
  height: 100px;
  object-fit: contain;
  margin-bottom: 10px;
}

.item-price {
  font-size: 1.1rem;
  font-weight: bold;
  margin: 5px;
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 200px;
  background-color: #f8f9fa;
  border-right: 1px solid #dee2e6;
  padding: 1rem;
}

.sidebar {
  background-color: #2a0a31;
  border-right: 1px solid #dee2e6;
  padding: 1rem;
  color: #fff;
}

.main-content {
  margin-left: 220px;
  padding: 1rem;
  flex-grow: 1;
  background-color: #ecf0f1;
}

.sidebar nav ul li {
  list-style: none;
  margin: 10px;
}

.sidebar nav ul li a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s;
}

.sidebar nav ul li a:hover,
.sidebar nav ul li a.active-link {
  color: #f28e1c;
}

.navButton {
  padding-left: 5%;

}

.main-content {
  margin-left: 220px; 
  padding: 1rem;
  flex-grow: 1;
}

.website-header{
  background-color: #2a0a31;
  color: #fff;
  padding: 1rem;
  padding-left: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}